html {
    box-sizing: border-box;
    font-family: 'montserrat', 'sans-serif';
    color:#292929;
}

.body{
    margin: 0;
}

.header {
    
}

section {
    margin: 5% 10%;
    border: 5px solid #292929;
}

.pfp {
    display:block;
    width: 10vw;
    border: 3px solid #292929;
    margin-right: 7.5%;
}

.title {
    font-size: 5vw;
    font-weight: 700;
    text-align: center;

}

.id {
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
}

.content {
    display:flex;
    justify-content: center;
    padding: 5% 10% 5% 10%; 
}

.socials {
    height: 2.2vw;
    color: #292929;
    margin: 5%;
    font-size: 1.5vw;
    padding: 1%;
}


.school, .hobby {
    border: 3px solid #292929;
    width: 26vw;
    height: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2.5vw;
    font-size: 1.5vw;
    font-weight: 700;
    transition: transform 0.3s;
    
}

#bss {
    background-image: url(https://journaldjakarta.id/wp-content/uploads/2021/10/IMG-20211026-WA0024-512x341-1.jpg);
    background-size: 100%;
}

#bi {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipM7ugcHLMOXhM1VYd1m00t7m9Sfq8EN5AMEPmlo=s680-w680-h510);
    background-size: 100%;
}

#school, #plang {
    display:flex;
    justify-content: center;
}

.plang {
    border: 5px solid #292929;
    border-radius: 15vw;
    width: 15vw;
    height: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2.5vw;

}

.school>p, .hobby>p {
    margin-left: 5%;
    color: white;
}

#bss>p{
    background-color: rgb(139,0,0);
    border: 3px solid rgb(139,0,0);
    border-radius: 5px;
    width: 45%;
}

#bi>p{
    background-color: rgb(49, 160, 224);
    border: 3px solid rgb(49, 160, 224);
    border-radius: 5px;
    width: 60%;
}

.school:hover {
    transform:translateY(-10px);
}

a{
    text-decoration: none;
    color:#292929;
}

#Py {
    background-image: url(https://www.pngmart.com/files/23/Python-Logo-PNG-Pic.png);
    background-size: 15vw 15vw;
}

#CSS {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png);
    background-size: 15vw 15vw;
}

#HTML {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png);
    background-size: 15vw 15vw;
}

#ig{
    width: 8vw;
    border: 0.3vw solid #d62976;
    border-radius: 3vw;
    transition: 0.3s;
    text-align:center;
}

#ig:hover {
    background-color: #d62976;
    color: white;
}

#gh{
    width: 8vw;
    border: 0.3vw solid #24292e;
    border-radius: 3vw;
    transition: 0.3s;
    text-align:center;
}

#gh:hover {
    background-color: #24292e;
    color: white;
}

#twt{
    width: 8vw;
    border: 0.3vw solid #1DA1F2;
    border-radius: 3vw;
    transition: 0.3s;
    text-align:center;
}

#twt:hover {
    border: 0.3vw solid #14171A;
    background-color: #14171A;
    color: white;
}

#vedit {
    background-image: url(https://images.unsplash.com/photo-1574717024653-61fd2cf4d44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dmlkZW8lMjBlZGl0aW5nfGVufDB8fDB8fHww&w=1000&q=80);
    background-size: 26vw 15vw;
}

#game {
    background-image: url(https://media.istockphoto.com/id/1334436084/photo/top-down-view-of-colorful-illuminated-gaming-accessories-laying-on-table.jpg?s=612x612&w=0&k=20&c=E9xnbAZoBS5LlUX0q-zxT_3m6gEZpyB2k51_U4LLMNs=);
    background-size: 26vw 15vw;
}

.hobby>p {
    text-align: center;
    margin-right: 1vw;
    font-size: 2vw;
}